<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title></title>
  </head>
  <body>
    <header>
      {{!-- <h1>Vega-Lite Demos</h1>  --}}
    </header>
    <main>
      <h1>{{titleCase name}}</h1>
      <div id='container'></div>
    </main>
    <footer></footer>
  </body>
</html>